*{
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.get{
    display: flex;
    justify-content: space-between;
}

.get p{
    color: #58778d;
}

.get button{
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    color: #486a84;
    background-color: #bfd4e4;
    cursor: pointer;
}

.get button:hover {
    background-color: #9fb0bd;
    transition: 0.8s;
}

.cont {
    padding: 0 190px;
    margin-top: 100px;
}

.board {
    margin-top: 35px;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 1em;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    color:#486a84;
}

.comp{
    cursor: pointer;
    background-color: #bfd4e4;
    color: #486a84;
}

.comp:hover{
    background-color: #8b99a3;
    transition: 0.8s;
}

.pagination {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 20px; 
}

.pagination button {
    border: none;
    border-radius: 3px;
    margin: 0 5px; 
    padding: 8px 12px;
    background-color: #bfd4e4;
    color: #486a84;
    cursor: pointer;
}

.pagination button:hover {
    background-color: #9fb0bd;
}

.pagination .active {
    background-color: #486a84;
    color: #fff;
}