*{
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.get{
    display: flex;
    justify-content: space-between;
}

.get p{
    color: #58778d;
}

.get button{
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    color: #486a84;
    background-color: #bfd4e4;
    cursor: pointer;
}

.get button:hover {
    background-color: #9fb0bd;
    transition: 0.8s;
}

.cont {
    padding: 0 190px;
    margin-top: 100px;
}

.board {
    margin-top: 35px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    color:#486a84;
}